:root {
  --primary: #d9edbf;
  --light: #fdfcfa;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --glow: #fc819e;
  --pink: #ffefef;
  --item-background-color: #eef5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

input:not([type='checkbox']),
button {
  appearance: none;
  border: none;
  outline: none;
  cursor: initial;
}

body {
  background: var(--light);
  color: var(--dark);
  overflow: hidden;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}
